* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #FFD845;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--main-bg-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
}

section,
[class*="__content"],
.products__header {
    width: 100%
}

button,
select {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.container {
    position: relative;
}

.products {
    padding: 50px 0;
}

.products__header{
    margin-bottom: 100px;
}
.products__content,
.products__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products__logo {
    margin-bottom: 70px;
}

.products__header-icon {
    position: absolute;
    top: 0px;
    right: 0;
}

.products__header-menu {
    width: 100%;
    padding: 0 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.products__select,
.products__search-box input,
.products__header-button {
    font-size: 1.5rem;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 15px;
    font-weight: 500;
}

.products__select {
    padding: 16px 70px;
    padding-left: 58px;
    appearance: none;
    position: relative;
    background-image: url("../images/chevron-down-icon.svg");
    background-repeat: no-repeat;
    background-position: 70% center;
}

.products__search-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__search-box input {
    padding: 16px 29px;
    position: relative;
}

.products__search-box img {
    position: absolute;
    right: 30px;
}

.products__header-button {
    padding: 16px 64px;
}

.products__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 30px;
}

.products__card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 30px 0;
}
.products__card-imgbox{
    width: 157px;
    height: 157px;
    margin: 0 auto;
    margin-bottom: 68px;
    padding-inline: 30px;
}
.products__card-imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products__card-info{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    padding-inline: 30px;
    border-top: 2px solid #000;
}
.products__card-icon{
    position: absolute;
    top: 21px;
    right: 30px;
    width: 30px;
    height: 30px;
}
.products__card-title{
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 5px;
}
.products__card-subtitle{
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 25px;
}
.products__card-footer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.products__card-footer span{
    font-size: 1.5rem;
    line-height: 1.2;
}